<audio id="audio"></audio>
<div id="audio_state"></div>
<div id="audio_name"></div>
<div class="tabar_wrap">
    <img src="images/109951162857949886.jpg" alt="" class="tabar_pic">
    <div class="zhong">
        <span class="musicName">凉城</span><br>
        <span class="geshouName">任然</span>
    </div>
    <img src="images/playbar_btn_playlist.png" alt="" class="tabar_pic2">

    <div class="bofang">
        <img src="images/playbar_btn_pause.png" alt="" class="tabar_pic2" style="display: none">
        <img src="images/playbar_btn_play.png" alt="" class="tabar_pic2 hide">
    </div>
    <img src="images/playbar_btn_next.png" alt="" class="tabar_pic2 xiayiqu  marginRight">
</div>