<div class="dateil_banner">
    <p class="toubu">
        <img src="images/4_03.png" alt="" class="pave">
        <span>歌单</span>
    </p>
    <div class="picWarp">
        <div class="banner_left_pic">
            <img src="images/18685100604133296.jpg" alt="" class="titlePic">
        </div>
        <div class="banner_right_text">
            <p class="shuoming">s的释放回家哭他摇摇头看到门口大规划东方港湾任务而我国</p>
            <p>
                <img src="images/18685100604133296.jpg" alt="" class="title_pic">
                <span class="geshou_name">柯妮燕</span>
            </p>


        </div>
    </div>

</div>
<div class="detail_top">
    <p class="toubu">
        <img src="images/4_03.png" alt="" class="pave">
        <span>歌单</span>
    </p>
</div>
<ol class="musicList">

</ol>
<div class="musicItem" style="display: none">
        <li class="muaicLi">
            <div class="num"></div>
            <div class="geshou">
                <p class="music"></p>
                <p class="name"></p>
            </div>
            <span class="shoucang">
                <img src="images/shoucang%20(1).png" alt="" class="collected">
                <img src="images/shoucang%20(2).png" alt="" style="display: none" class="collected2">
            </span>
        </li>

</div>















