<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="images/banner1.jpg"></div>
    <div class="swiper-slide"><img src="images/banner2.jpg"></div>
    <div class="swiper-slide"><img src="images/banner3.jpg"></div>
    <div class="swiper-slide"><img src="images/banner4.jpg"></div>
  </div>
  <div class="swiper-pagination"></div>
</div>
<p class="tite"><img src="./images/aei.png" alt="" class="aei">&nbsp;&nbsp;推荐歌单<span class="gengduo">更多></span></p>
<div class="wrap">
    <ul>
        <!--<li class="time">-->
            <!--<div class="renqi">13万</div>-->
            <!--<img src="images/3302932937405065.jpg">-->
            <!--<p class="text">老板，给我来一打这样的男友</p>-->
        <!--</li>-->

    </ul>
</div>

